.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
node_modules/
npm-debug.log
yarn-error.log
.env
*.log
**/.terraform/*
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc